/*Estructura del contenedor o grid */
.header, 
.footer, 
.sidebar, .main { 
  padding: 80px; 
} 
/*Se menciona que el texto en h1 estará centrado y subrayado.*/ h1{ 
    text-align: center; 
    text-decoration: underline; 
} 
/**/
h2{ 
    text-decoration: underline; 
} 
/*Se selecciona la ubicación de la imagen. */
.img{     float: right; 
} 
/*Se menciona el color en cada parte del grid */
.header { 
    color: rgb(10, 0, 0);   background-color: #83d0e7; 
} 
.footer {   background-color: #6f90ec; 
} .main {   background-color: #f7f19d; 
} 
.sidebar {   background-color: #94f3b8; 
} body {     margin: 0 auto; 
  } 
/*Estructura del grid y medidas */
  .container {     display: grid;     grid-template-columns: 1fr 1fr  ;     column-gap: 1%; 
     grid-template-rows: auto auto auto ;     row-gap: 2%; 
  } 
 
  .header,   .footer {     grid-column:span 3; 
  } 
 
  .header,   .footer { 
    grid-column-start: 1;     grid-column-end: 3; 
  } .header { 
    grid-row: 1;  
     
  } 
 
  .footer {     grid-row: 3; 
 
  } 
  .sidebar {     grid-column: 1;     grid-row: 2; 
 
  } 
  .main {     grid-column: 2;     grid-row: 2; 
  } 
  @media (max-width: 400px) { 
    .container {       display: block; 
    } 
  } 
/*Se crea la tabla que se encontrará en la parte del footer, con los bordes, color, alineado de texto, márgenes y otros elementos */  table {     width: 80%;     border: 2px solid rgb(0, 0, 0);     background-color: #dee5e7;     text-align: center;     border-collapse: collapse;     margin: 0 0 6em 0;     caption-side: top; 
 } 
/*Estructura de la tabla */ caption, td, th {     padding: 0.6em; 
 }  th, td {     border-bottom: 2px solid rgb(0, 0, 0);     width: 15%; 
 }  caption {     font-weight: bold;     font-style: italic; 
 } 
